/* colore sfondo nero */
html, body {
    overflow-x:hidden;
  }
  
/* colore sfondo nero */
.bg-nero {
 background-color: #000000;
}
/* fine colore sfondo nero */

/* colore sfondo dorato */
.bg-oro {
    background-color: #f19820;
   }
   /* fine colore sfondo dorato */

/* colore corpo sezione */
.bg-grigio-scuro {
    background-color: #181a1e;
}
/* fine colore corpo sezione */

/* scritte dorate */
.scritta-dorata {
    color: #f19820;
}

.scritta-bianca {
    color: #fffffe;
}

.scritta-click-scuro:hover {
    color: #fffffe;
}
/* fine scritte dorate */

.colore-icone-scuro {
    color:#f19820;
  }

  .colore-icone-scuro:hover {
    color: #f19820;
    opacity: 0.5;
  }


/* colore sfondo nero */
.bg-bianco {
    background-color: #fffffe;
   }
   /* fine colore sfondo nero */
   
   /* colore sfondo dorato */
   .bg-oro {
       background-color: #f19820;
      }
      /* fine colore sfondo dorato */
   
   /* colore corpo sezione */
   .bg-grigio-chiaro {
       background-color: #d9d9d9;
   }
   /* fine colore corpo sezione */
   
   .scritta-nera {
       color: #000000;
   }
   
   .scritta-click-chiaro:hover {
       color: #fffffe;
   }
   /* fine scritte dorate */
   
   .table-dark {
    background-color:#242a33!important;
    }

    .table-light {
      background-color:#242a33!important;
      }
