html, body {
  overflow-x:hidden;
}


.banner {
  background-image: url(../src/cinema-sala3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 75vh;
}

.custom-posizionamento {
  position: relative;
  top: 10rem;
}

.custom-posizionamento2 {
  position: relative;
  top: 10rem;
  left: 2rem;
}

.custom-posizionamento3 {
  position: relative;
  top: 3rem;
}

.img-banner {
  max-height: 15rem;
}

.banner-title {
  font-size: 10rem;
}

.banner-title2 {
  font-size: 7rem;
}

.c-image{
  max-height: 30rem;
  margin: auto;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer ;
}

.size-custom {
  height: 30rem;
  width: 22rem;
}

.single-film {
  border: none;
  display: inline-block;
}

.img-custom {
height: 100%;
width: 100%;
margin: auto;
display: block;  
}


.film-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.8rem;
  background: #f19820;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}
.img-container:hover .film-item-icon {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black !important;
    opacity: 1; /* Firefox */
  }


  @media screen and (max-width: 1208px) {
    .size-custom {
      height: 28rem;
      width: 18rem;
    }
  
    .film-item-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0rem;
      background: #f19820;
      -webkit-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
      -webkit-transform: translate(100%, 100%);
      transform: translate(100%, 100%);
    }
  }
  
  @media screen and (max-width: 370px) {
    .size-custom {
      height: 25rem;
      width: 15rem;
    }
  
    .scritta-programmazione {
      font-size: 2rem;
    }
   
  }
  
  @media screen and (max-width: 450px) {
    .c-image{
      max-height: 25rem;
      margin: auto;
      max-width: 18rem;
    }
    }
  
    @media screen and (max-width: 1450px) {
      .banner-title {
        font-size: 5rem;
      }
  
      .img-banner {
        max-height: 10rem;
      }
    
      }
  
      @media screen and (max-width: 679px) {
        .footer-copy {
          font-size: 1.5rem;
        }
        }
  
      @media screen and (max-width: 425px) {
        .banner-title {
          font-size: 3rem;
        }
  
        .footer-copy {
          font-size: 1.3rem;
        }
  
        .img-banner {
          max-height: 10rem;
        }
      
      
        }
  
        @media screen and (max-width: 322px) {
          .banner-title {
            font-size: 3rem;
          }
  
          .img-banner {
            max-height: 10rem;
          }
        
          }