<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
id="WebApp_ID" version="3.1">
  <display-name>ProgettoFinaleJava18Gruppo1</display-name>
   
  
  <!-- welcomeFileList sta per le pagine che deve avviare a path vuoto -->
  <!--  
   <welcome-file-list>
    <welcome-file>TestInserisci_Nicola.jsp</welcome-file>
  </welcome-file-list>
  
   diamo un nome per questo file alle servlet--> 
  <!--  
  <servlet>
  	<servlet-name>ServletInserisciPrenotazione</servlet-name>
  	<servlet-class>controller.ServletInserisciPrenotazione</servlet-class>
  </servlet>-->
  
  <!-- apro un path -->
 
 <!-- <servlet-mapping>
  	<servlet-name>ServletInserisciPrenotazione</servlet-name>
  	<url-pattern>/ServletInserisciPrenotazione</url-pattern>
  </servlet-mapping>-->
  
    <!-- 
 <jsp-config>
 	<jsp-property-group>
 		<url-pattern>*.jsp</url-pattern>
 		<include-prelude>Header.jsp</include-prelude>
 		<include-coda>Footer.jsp</include-coda>
 	</jsp-property-group>
 </jsp-config>
-->
<!--  
	<servlet>
  		<servlet-name>ServletModificaFilm</servlet-name>
  		<servlet-class>controller.ServletModificaFilm</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ServletModificaFilm</servlet-name>
  		<url-pattern>/ServletModificaFilm</url-pattern>
  	</servlet-mapping>
  -->
</web-app>